.legendhouse{
  height:7%;
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  color:black;
}

.colorfill{
  display: flex;
  height: 90%;
  width:90%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
.free{
  background-color: #E4F5E4;
}
.semi{
  background-color: #A3AADE;
}
.unavailable{
  background-color: #DE8F8F;
}
.addbutton{
  display: flex;
  box-sizing: border-box;
  height: 90%;
  width:90%;
  border:5px solid black;
  margin: auto;
}
.calendar-container {
    background-color: white;
    width: 100%;
    height:86%;
    border-radius: 10px;
    box-sizing: border-box;
}
.calanderhead{
  position: relative;
  width:100%;
  height:7%;
  display: flex;
  justify-content: space-around;
  background-color: #DFF5DB;
  border: 2px solid #A2F5A4;
  box-sizing: border-box;
  color:black;
}
.arrowhouse{
  height: 90%;
  border-radius: 50px;
  aspect-ratio:1/ 1;
  background-color: white;
  margin:auto;
  display: flex;
}
.arrowclip{
  height: 50%;
  width:50%;
  margin:auto;
  background-color: black;
  clip-path:polygon(29.6% 13.4%,33.0% 9.4%,79.2% 48.6%,34.2% 88.2%,29.4% 83.4%,70.4% 48.8%)
}
.arrowleft{
  rotate:180deg;
}
.calendar-body{
  position: relative;
  width:100%;
  height:93%;
  display: grid;
  grid-template-rows: 10% 90%;
}
.calendar-weekdays{
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  color:black;
}
.calendar-dates{
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}
.active{
  background-color: #588F65;
  color:white;
  font-weight: bolder;
  border-radius: 50px;
  padding-top:10%;
  padding-right: 20%;
  padding-left:20%;
  padding-bottom: 10%;
}
.day{
  display: flex;
  height:98%;
  width:98%;
  margin:auto;
  background: #E4F5E4;
  color:black;
}
.eventday{
  display: grid;
  grid-template-rows: 25% 15% 15% 15% 15% 15%;
  height: 98%;
  width:98%;
  border:2px solid black;
  box-sizing: border-box;
}
.inactive{
  color:#CCCCCC;
}
.eventhouse{
  height: 98%;
  width:96%;
  margin:auto;
  background-color: #DED98A;
  color:black;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
  font-size: .5em;
}
.removebutton{
  box-sizing: border-box;
  margin:auto;
  height: 90%;
  width:70%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
  overflow: hidden;
  background-color:#2E2E2E;
}
.trashhouse{
  background-color: #2E2E2E;
}
.traschcan{
  height:45%;
  margin:auto;
  aspect-ratio:1/1;
  background-color: #12B7DE;
  clip-path:polygon(
    0% 34%,34% 34%,34% 0%,68% 0%,68% 34%,100% 34%,100% 68%,
    68% 68%,68% 100%,34% 100%,34% 68%,0% 68%
    );
}
.removehouse{
  background-color:#12B7DE;
  clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 100%,
      0% 60%,5% 50%,0% 40%,0% 0%)
}
.removetext{
  color:#2E2E2E;
  font-size: .9em;
  font-family: 'Courier New', monospace;
}
#addeventnot{
  font-size:.5em;
}
.neweventpage{
  position: absolute;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
  background-color: rgba(23, 23, 23, .7);
  z-index: 15;
  display: none;
}
.neweventhouse{
  position: relative;
  top:5%;
  height:95%;
  width:90%;
  margin:auto;
}
.topbar{
  position: relative;
  height:7%;
  width:100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.neweventform{
  position: relative;
  height:90%;
  width:100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  padding:0%;
  box-sizing: border-box;
}
.starthouse{
  position: relative;
  height: 100%;
  width:90%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.eventinput{
  position:relative;
  height: 92%;
  width:90%;
  border: 2px solid black;
  box-sizing: border-box;
  padding:0%;
  margin:auto;
}
.alertinput{
  border: 2px solid #940000;
  background-color: #FF7373;
}
.eventbutton{
  height: 92%;
  width:90%;
  display: flex;
  margin:auto;
}
input::file-selector-button{
  box-sizing: border-box;
  position: relative;
  top:25%;
  height:50%;
  width:50%;
  border:2px solid black;
}
.daypage{
  position: absolute;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
  background-color: rgba(23, 23, 23, .7);
  z-index: 15;
  display:none;
}
.halfday{
  height:100%;
  width:100%;
  display: grid;
  grid-template-rows: repeat(12, 8.3%);
}
.hour{
  height: 96%;
  width:98%;
  margin:auto;
  display: flex;
}
.clickedhour{
  background-color: #D2FDFF;
}
.daypagebody{
  position: relative;
  height:90%;
  width:100%;
  background-color: white;
  padding:0%;
  box-sizing: border-box;
  color:black;
}
.selecthouse{
  height: 100%;
  width:100%;
  display: grid;
  grid-template-rows: 100%;
}
#eventselect{
  height: 96%;
  width:98%;
  margin:auto;
}
#addeventbutton{
  display: none;
}
.saveclip{
  height:45%;
  margin:auto;
  aspect-ratio:1/1;
  background-color: #12B7DE;
  clip-path:polygon(3.7% 16.7%,3.6% 14.1%,4.1% 12.0%,5.0% 10.1%,6.0% 8.6%,
    8.4% 6.9%,10.7% 5.6%,13.3% 4.7%,75.4% 4.9%,77.1% 5.1%,81.0% 7.1%,84.9% 10.0%,
    95.7% 21.9%,96.0% 22.4%,96.3% 24.1%,96.6% 86.9%,96.6% 88.9%,95.6% 91.0%,
    95.1% 92.6%,94.1% 94.0%,92.4% 95.3%,90.6% 96.6%,88.7% 97.0%,86.6% 97.7%,
    14.9% 97.6%,12.3% 97.3%,8.6% 96.1%,6.3% 94.0%,5.4% 92.6%,
    4.7% 91.6%,3.7% 89.4%,3.7% 16.7%,
    21.6% 13.3%,21.6% 34.3%,21.7% 38.3%,22.4% 39.3%,23.7% 40.1%,
    25.9% 40.6%,71.1% 40.4%,73.9% 39.4%,74.7% 38.7%,75.3% 36.9%,75.0% 11.9%,
    68.0% 12.0%,68.0% 37.0%,57.1% 36.9%,57.0% 11.9%,75.3% 12.0%,74.7% 9.7%,
    73.9% 9.1%,73.1% 8.7%,71.7% 8.1%,23.9% 8.4%,22.9% 9.0%,22.1% 10.1%,
    21.4% 11.6%,21.6% 13.3%,
    3.7% 16.7%,
    14.3% 55.4%,14.3% 90.3%,14.6% 92.0%,15.4% 92.9%,16.6% 93.7%,18.6% 94.1%,
    83.0% 94.0%,84.4% 93.4%,84.9% 92.7%,85.6% 92.0%,86.0% 90.6%,85.9% 54.7%,
    85.4% 52.9%,84.4% 51.9%,84.1% 51.6%,82.4% 51.3%,20.6% 51.3%,18.1% 51.4%,
    16.0% 51.7%,14.9% 52.9%,14.3% 55.4%);
}
.bookclip{
  clip-path:polygon(
  43.0% 78.0%,40.0% 76.0%,35.8% 74.6%,32.0% 73.4%,29.0% 72.6%,24.0% 72.0%,20.0% 71.6%,16.0% 71.4%,11.0% 71.0%,11.0% 15.0%,15.0% 15.0%,19.0% 15.0%,23.0% 15.2%,28.0% 16.0%,31.0% 16.8%,35.0% 18.0%,
  39.0% 19.6%,43.0% 21.0%,45.0% 22.0%,47.0% 23.0%,50.0% 25.0%,48.0% 28.0%,45.0% 25.6%,42.0% 24.0%,37.0% 22.2%,32.0% 20.0%,27.0% 19.0%,21.0% 18.2%,15.0% 18.0%,15.0% 68.0%,19.0% 67.8%,22.0% 68.0%,
  27.0% 69.0%,32.0% 70.0%,36.0% 71.2%,41.0% 73.2%,44.0% 74.6%,47.8% 77.0%,48.0% 28.0%,50.0% 25.0%,52.0% 28.0%,51.0% 77.0%,54.0% 76.0%,57.0% 74.2%,60.0% 72.8%,63.0% 71.6%,66.0% 70.6%,70.6% 69.4%,
  75.6% 68.6%,81.0% 68.0%,81.0% 68.0%,86.0% 68.0%,87.0% 19.0%,84.0% 19.0%,82.0% 19.0%,76.0% 19.4%,73.0% 20.0%,70.8% 20.2%,67.0% 21.0%,63.0% 22.2%,58.0% 24.8%,55.0% 26.0%,52.0% 28.0%,50.0% 25.0%,
  54.0% 22.8%,57.0% 21.4%,61.0% 19.6%,66.0% 18.0%,70.0% 17.0%,75.4% 15.6%,80.0% 15.0%,90.0% 15.0%,89.0% 72.0%,84.0% 72.0%,80.0% 72.0%,75.4% 72.6%,72.0% 73.0%,67.0% 74.0%,64.0% 74.8%,61.0% 76.0%,
  58.0% 78.0%,88.0% 78.0%,91.0% 76.0%,92.0% 75.0%,93.0% 74.0%,93.0% 24.0%,93.6% 22.6%,95.0% 22.0%,96.0% 23.0%,96.0% 25.0%,96.0% 76.0%,96.0% 80.0%,95.0% 81.0%,93.0% 83.0%,58.0% 83.0%,56.0% 85.0%,
  44.0% 85.0%,43.0% 83.0%,9.0% 82.0%,6.0% 82.0%,4.4% 80.2%,4.0% 79.0%,4.0% 24.0%,4.4% 23.0%,5.0% 23.0%,7.2% 23.2%,8.0% 25.0%,8.0% 72.0%,8.0% 74.0%,9.0% 76.0%,11.0% 78.0%,14.0% 78.0%
    )
}
.selected{
  display: block;
}
.appinput{
  width:91%;
  height:10%;
  margin-left: 3%;
  margin-top:7%;
}
.appinputbig{
  width:91%;
  height:40%;
  margin-left: 3%;
  margin-top:7%;
}
