.banner{
  margin:10%;
  color:var(--textcolormain);
}
.card{
  margin-left: 10%;
  margin-right:10%;
  margin-top:10%;
  background-color: var(--textcolormain);
  color:white;
  padding-top:10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
}
.cardtop{
  min-height: 5vh;
  width:100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.pic{
  height: 100%;
  aspect-ratio:1 / 1;
  background-color: white;
}
.contacttitle{
  font-size: 1.2em;
  font-weight: bolder;
}
.cardtext{
  display: flex;
  width:100%;
  margin-top:15%;
}
.phoneclip{
  clip-path:polygon(24.0% 25.0%,24.0% 23.0%,24.0% 20.0%,25.2% 19.0%,27.0% 18.0%,40.0% 18.0%,41.0% 18.6%,42.0% 20.0%,43.0% 22.0%,43.0% 24.0%,43.0% 25.0%,43.0% 28.0%,44.0% 31.0%,44.8% 33.4%,45.0% 35.0%,
    44.0% 37.0%,43.0% 39.0%,36.0% 44.0%,37.8% 46.2%,39.0% 48.0%,40.6% 50.8%,42.0% 53.0%,44.0% 55.0%,47.0% 58.0%,50.8% 61.2%,54.0% 64.0%,56.0% 65.0%,60.0% 67.0%,62.0% 65.0%,64.0% 63.0%,65.6% 61.4%,
    66.8% 60.2%,67.6% 59.6%,69.0% 59.0%,71.2% 59.4%,74.0% 60.2%,77.0% 60.8%,81.4% 61.2%,85.2% 61.6%,87.0% 64.0%,86.8% 76.0%,86.0% 77.4%,84.6% 78.6%,81.0% 79.2%,77.0% 79.0%,73.0% 78.6%,70.0% 78.0%,
    65.0% 76.4%,61.0% 75.0%,57.0% 73.8%,52.4% 71.4%,49.0% 69.0%,45.2% 66.6%,42.0% 64.0%,37.0% 59.0%,35.0% 56.0%,32.6% 53.0%,31.0% 50.0%,29.2% 47.0%,28.0% 44.0%,26.0% 39.0%,25.0% 36.0%,
    24.6% 34.0%,24.0% 29.0%)
}
.gpsclip{
  clip-path:polygon(12.6% 41.8%,12.6% 45.6%,13.0% 49.6%,14.2% 55.8%,16.2% 61.0%,21.4% 68.6%,41.0% 93.8%,43.8% 96.2%,45.6% 97.8%,48.2% 99.0%,50.4% 99.2%,53.0% 99.4%,55.2% 98.2%,57.0% 96.6%,61.0% 92.6%,
    81.8% 65.4%,84.6% 60.8%,86.4% 58.2%,87.2% 55.2%,88.0% 52.6%,88.6% 50.4%,89.4% 47.4%,89.4% 43.0%,89.4% 41.8%,88.6% 37.4%,88.0% 34.2%,87.4% 31.4%,86.2% 28.0%,84.6% 25.4%,83.4% 23.0%,81.8% 20.0%,
    79.2% 17.4%,77.4% 15.2%,75.2% 13.6%,73.0% 12.0%,69.6% 10.2%,66.6% 8.6%,63.4% 7.2%,59.8% 6.2%,56.6% 5.6%,50.4% 5.4%,44.6% 5.8%,38.2% 7.4%,31.8% 10.2%,26.6% 13.6%,22.4% 16.8%,20.0% 20.2%,
    17.6% 23.4%,15.4% 28.0%,14.2% 32.8%,13.0% 36.8%,12.6% 41.8%,42.4% 40.8%,43.2% 39.0%,44.2% 36.8%,46.2% 34.2%,48.0% 33.4%,50.4% 33.4%,54.2% 33.8%,56.6% 35.0%,58.2% 36.6%,59.4% 39.0%,
    59.8% 41.6%,59.4% 44.6%,58.2% 46.4%,57.4% 47.4%,55.0% 49.0%,52.6% 49.8%,51.2% 49.6%,47.8% 48.6%,45.4% 47.4%,43.4% 45.4%,43.2% 44.2%,42.4% 43.0%,42.4% 40.8%,12.6% 41.8%)
}
.emailclip{
  clip-path:polygon( 3.8% 23.4%,35.8% 49.6%,3.8% 75.4%, 3.8% 23.4%, 7.0% 22.2%,95.2% 22.4%,51.2% 57.8%,7.0% 22.2%, 3.8% 23.4%, 66.4% 50.2%,97.8% 24.2%,97.8% 75.0%,66.4% 50.2%, 3.8% 23.4%,
    10.2% 75.2%,38.4% 51.8%,51.0% 61.4%,63.4% 52.0%,92.6% 75.2%,10.2% 75.2%, 3.8% 23.4%)
}
.timeclip{
  clip-path:polygon(4.8% 50.6%,5.4% 44.2%,7.0% 37.6%,9.0% 32.6%,11.4% 27.8%,15.0% 22.4%,19.8% 17.4%,25.8% 13.4%,31.4% 10.2%,38.2% 8.6%,45.4% 7.0%,50.6% 6.4%,56.2% 7.2%,63.4% 8.6%,73.4% 13.0%,
    78.2% 16.0%,83.8% 21.4%,87.8% 26.4%,90.2% 30.4%,92.2% 35.8%,93.6% 39.8%,94.2% 43.4%,94.6% 47.8%,94.4% 57.6%,92.8% 63.8%,91.2% 69.0%,89.4% 73.6%,86.4% 77.8%,83.4% 81.4%,79.8% 85.6%,75.0% 88.8%,
    69.0% 92.6%,63.0% 95.0%,56.6% 96.6%,51.8% 96.8%,44.8% 96.8%,39.0% 96.0%,34.2% 93.8%,28.0% 91.2%,24.0% 88.8%,19.2% 85.6%,15.8% 82.2%,12.6% 77.6%,9.8% 72.8%,7.8% 68.0%,7.0% 64.2%,5.8% 60.6%,
    5.0% 58.2%,5.0% 55.8%,4.8% 50.6%,13.0% 51.8%,13.4% 55.4%,14.2% 61.6%,16.0% 67.0%,19.2% 72.2%,22.2% 78.4%,27.4% 82.4%,32.0% 85.4%,36.6% 87.4%,41.6% 89.4%,48.2% 90.2%,56.0% 89.8%,64.6% 87.8%,
    69.0% 85.4%,74.6% 81.8%,78.2% 78.2%,81.4% 73.8%,85.4% 68.2%,86.6% 63.8%,87.8% 58.4%,89.0% 53.4%,88.2% 47.4%,87.0% 40.8%,84.8% 35.4%,81.4% 28.8%,76.2% 24.6%,71.0% 19.2%,66.4% 17.8%,61.8% 15.8%,
    57.8% 15.0%,50.4% 13.8%,45.4% 14.6%,38.6% 17.0%,29.0% 20.6%,25.4% 24.6%,21.4% 29.0%,19.0% 32.0%,16.0% 36.6%,14.2% 40.6%,13.0% 47.8%,13.0% 51.8%,4.8% 50.6%,46.6% 19.8%,46.2% 53.8%,67.0% 78.4%,
    71.8% 75.4%,52.6% 51.4%,52.6% 20.6%,46.6% 19.8%,4.8% 50.6%)
}
