.titletext{
  width:90%;
  font-size: 1.2em;
  height:7%;
  margin-top:5%;
  margin-bottom:5%;
  margin-left: 5%;
  margin-right: 5%;
}
.bodymargin{
  margin-left:5%;
  margin-right:5%;
  width:90%;
}
.quotemargin{
  margin-left:5%;
  width:90%;
  font-size: 1.4em;
}
.quote{
  background-color: rgba(255, 255, 255, 0.5);
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.whiteback{
  background-color: #E0E0E0;
}
.spotifycolor{
  background-color: green;
}
#quotes{
  min-height: 25%;
  margin-top: 15%;
}
#loading{
  background-color: white;
  height:1%;
  margin-bottom: 15%;
}
#loadingbar{
  background-color: #BABABA;
  height:100%;
  width:0%;
}
.wirsind{
  font-size: 1.8em;
  margin-top:10%;
  margin-bottom:2%;
}
.card{
  height:15%;
  width:100%;
  display: grid;
  margin-bottom: 10%;
}
.one{
  grid-template-columns: 60% 40%;
}
.two{
  grid-template-columns: 40% 60%;
}
.texthouse{
  display: grid;
  grid-template-rows: 40% 60%;
}
.nameo{
  font-size: 1.2em;
  font-weight: bold;
}
.attributes{
  display: grid;
  grid-template-rows: auto auto auto;
  color:var(--textcolortwo)
}
.pic{
  height: 100%;
  aspect-ratio: 1/1;
  margin:auto;
  background-size: contain;
}
.bookclip{
  background-color: black;
  clip-path:polygon(
43.0% 78.0%,40.0% 76.0%,35.8% 74.6%,32.0% 73.4%,29.0% 72.6%,24.0% 72.0%,20.0% 71.6%,16.0% 71.4%,11.0% 71.0%,11.0% 15.0%,15.0% 15.0%,19.0% 15.0%,23.0% 15.2%,28.0% 16.0%,31.0% 16.8%,35.0% 18.0%,
39.0% 19.6%,43.0% 21.0%,45.0% 22.0%,47.0% 23.0%,50.0% 25.0%,48.0% 28.0%,45.0% 25.6%,42.0% 24.0%,37.0% 22.2%,32.0% 20.0%,27.0% 19.0%,21.0% 18.2%,15.0% 18.0%,15.0% 68.0%,19.0% 67.8%,22.0% 68.0%,
27.0% 69.0%,32.0% 70.0%,36.0% 71.2%,41.0% 73.2%,44.0% 74.6%,47.8% 77.0%,48.0% 28.0%,50.0% 25.0%,52.0% 28.0%,51.0% 77.0%,54.0% 76.0%,57.0% 74.2%,60.0% 72.8%,63.0% 71.6%,66.0% 70.6%,70.6% 69.4%,
75.6% 68.6%,81.0% 68.0%,81.0% 68.0%,86.0% 68.0%,87.0% 19.0%,84.0% 19.0%,82.0% 19.0%,76.0% 19.4%,73.0% 20.0%,70.8% 20.2%,67.0% 21.0%,63.0% 22.2%,58.0% 24.8%,55.0% 26.0%,52.0% 28.0%,50.0% 25.0%,
54.0% 22.8%,57.0% 21.4%,61.0% 19.6%,66.0% 18.0%,70.0% 17.0%,75.4% 15.6%,80.0% 15.0%,90.0% 15.0%,89.0% 72.0%,84.0% 72.0%,80.0% 72.0%,75.4% 72.6%,72.0% 73.0%,67.0% 74.0%,64.0% 74.8%,61.0% 76.0%,
58.0% 78.0%,88.0% 78.0%,91.0% 76.0%,92.0% 75.0%,93.0% 74.0%,93.0% 24.0%,93.6% 22.6%,95.0% 22.0%,96.0% 23.0%,96.0% 25.0%,96.0% 76.0%,96.0% 80.0%,95.0% 81.0%,93.0% 83.0%,58.0% 83.0%,56.0% 85.0%,
44.0% 85.0%,43.0% 83.0%,9.0% 82.0%,6.0% 82.0%,4.4% 80.2%,4.0% 79.0%,4.0% 24.0%,4.4% 23.0%,5.0% 23.0%,7.2% 23.2%,8.0% 25.0%,8.0% 72.0%,8.0% 74.0%,9.0% 76.0%,11.0% 78.0%,14.0% 78.0%
  )
}
.spotifyclip{
  clip-path:polygon(0.0% 49.0%,0.0% 46.0%,0.0% 42.0%,0.6% 37.8%,2.0% 32.6%,4.0% 28.0%,6.0% 25.0%,8.0% 22.0%,10.0% 19.0%,12.0% 17.0%,15.4% 13.0%,19.0% 10.0%,20.6% 8.2%,23.0% 7.0%,25.0% 5.2%,
    28.0% 4.0%,32.0% 2.4%,35.6% 1.4%,38.4% 0.4%,41.0% 0.0%,44.0% 0.0%,49.0% 0.0%,53.0% 0.0%,57.0% 0.6%,61.0% 1.2%,63.0% 2.0%,66.0% 3.0%,69.8% 4.4%,73.0% 6.0%,78.0% 8.0%,81.0% 10.0%,
    83.0% 12.0%,86.0% 15.0%,88.0% 17.0%,90.0% 20.0%,91.0% 21.0%,93.0% 24.0%,94.0% 26.0%,95.0% 28.0%,95.2% 29.0%,96.4% 31.8%,97.0% 34.0%,98.0% 37.0%,98.6% 40.0%,99.0% 45.0%,99.0% 54.0%,97.6% 62.0%,
    95.2% 69.0%,92.6% 74.8%,89.0% 80.0%,85.0% 85.0%,82.0% 88.0%,77.2% 91.2%,72.0% 95.0%,67.0% 97.0%,62.2% 98.2%,59.0% 99.0%,52.0% 99.0%,43.0% 99.0%,37.0% 98.0%,34.0% 97.0%,29.8% 95.4%,26.0% 93.6%,
    23.0% 92.0%,19.0% 90.0%,16.0% 87.0%,13.0% 84.0%,11.0% 82.0%,8.0% 78.0%,6.0% 75.0%,4.6% 72.0%,3.0% 69.0%,1.6% 65.0%,1.0% 63.0%,0.8% 62.0%,0.0% 58.0%,0.0% 55.0%,0.0% 52.0%,0.0% 49.0%,
    16.0% 35.0%,16.4% 36.6%,19.0% 38.0%,20.0% 38.0%,24.0% 38.0%,28.0% 37.0%,32.0% 36.0%,34.0% 35.6%,38.0% 35.0%,41.0% 35.0%,46.0% 35.6%,49.0% 35.6%,53.0% 36.0%,58.0% 36.6%,61.0% 37.0%,65.0% 38.0%,
    69.0% 39.0%,71.0% 40.0%,74.0% 41.0%,76.0% 42.0%,78.0% 43.0%,81.0% 45.0%,82.0% 45.0%,84.0% 44.6%,85.0% 44.0%,86.0% 42.0%,86.0% 40.0%,86.0% 39.0%,84.8% 36.4%,83.0% 35.0%,80.0% 34.0%,78.0% 33.0%,
    75.0% 32.0%,72.0% 31.0%,69.0% 30.0%,65.0% 29.0%,60.0% 28.0%,57.0% 27.4%,53.0% 27.0%,48.0% 26.4%,41.8% 26.6%,35.0% 27.0%,31.0% 27.2%,27.0% 28.0%,24.0% 28.2%,19.0% 29.2%,17.0% 30.2%,16.2% 31.2%,
    15.2% 33.0%,16.0% 35.0%,0.0% 49.0%,19.0% 50.0%,19.0% 52.0%,20.0% 53.0%,21.0% 53.0%,23.0% 54.0%,27.0% 53.0%,30.0% 52.0%,33.0% 51.0%,36.0% 51.0%,40.0% 51.0%,43.0% 51.0%,47.0% 51.0%,50.0% 51.0%,
    53.0% 52.0%,56.8% 52.6%,60.0% 53.0%,63.0% 54.0%,65.0% 55.0%,67.0% 56.0%,69.0% 57.0%,71.6% 58.4%,73.0% 59.0%,74.0% 60.0%,76.0% 60.0%,78.0% 59.0%,79.0% 58.0%,79.0% 57.0%,79.0% 54.0%,78.0% 53.0%,
    75.0% 51.0%,72.0% 50.0%,67.0% 48.0%,64.0% 47.0%,60.0% 46.0%,56.0% 45.0%,53.2% 44.2%,52.0% 44.0%,47.0% 44.0%,44.0% 44.0%,40.0% 44.0%,37.0% 44.0%,34.0% 44.0%,31.0% 44.0%,27.6% 44.4%,25.0% 45.0%,
    22.0% 46.0%,20.0% 47.0%,19.0% 48.0%,19.0% 49.0%,19.0% 50.0%,0.0% 49.0%,21.0% 66.0%,22.0% 67.0%,23.0% 68.0%,24.0% 68.0%,26.0% 68.0%,28.0% 67.0%,32.0% 66.0%,34.0% 66.0%,38.0% 66.0%,41.0% 66.0%,
    43.0% 66.0%,48.0% 66.0%,51.0% 66.0%,55.0% 67.0%,57.8% 67.4%,60.8% 68.4%,64.0% 70.0%,66.0% 71.0%,68.0% 72.0%,70.0% 73.0%,72.0% 72.0%,72.4% 70.8%,73.0% 69.0%,72.0% 68.0%,70.0% 67.0%,68.0% 66.0%,
    65.0% 64.2%,62.0% 63.0%,58.2% 61.6%,55.0% 61.0%,51.0% 60.4%,47.0% 60.0%,44.0% 60.0%,40.0% 60.0%,36.0% 60.0%,32.6% 60.2%,30.8% 60.4%,28.8% 60.4%,25.8% 61.0%,23.0% 62.0%,21.0% 63.0%,21.0% 66.0%,
    0.0% 49.0%);
  background-color: #1ED760;
  overflow: visible;
}
#sound{
  position: absolute;
  background-color: black;
  border-radius: 50px;
  height:4.55vh;
  aspect-ratio:1 / 1;
  clip-path:polygon(0% 0%,0% 50%, 50% 50%, 50% 0%);
  top:17.5%;
  --emptyspace:calc(22.5vw - 4.55vh);
  left:calc(var(--emptyspace) / 2)
}
.insound{
  position: absolute;
  border-radius: 50px;
  height:90%;
  width:90%;
  clip-path:polygon(0% 0%,0% 60%, 60% 60%, 60% 0%);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.spothouse{
  position: relative;
  height: 100%;
  width:100%;
}
.spoticon{
  height:65%;
  aspect-ratio:1/1;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.point{
  width:70%;
  margin-left: 15%;
  margin-top:15%;
}
.pointhead{
  min-height: 10vh;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 7%;
}
.fullhead{
  margin-bottom: 5%;
  font-weight: bolder;
  text-align: center;
  width:100%;
}
.pointimg{
  height:100%;
  aspect-ratio:1 / 1;
  background-size: contain;
}
.headtext{
  font-size: 1.5em;
  font-weight: bold;
}
.pointbody{
  text-align: center;
  font-size: 1.1em;
}
.pi1{
  background-image: url("propics/point1.png");
}
.pi2{
  background-image: url("propics/point2.png");
}
.pi3{
  background-image: url("propics/point3.png");
}
.pi4{
  background-image: url("propics/point4.png");
}
.pi5{
  background-image: url("propics/point5.png");
}
.button{
  display: flex;
  margin:10%;
  width:80%;
  background-color: var(--logocolor);
  border-radius: 5px;
}
.buttontext{
  margin: auto;
  padding-top:6%;
  padding-bottom:6%;
  color:var(--textcolorthree);
  text-align: center;
  font-size:1.1em;
  width:60%;
}
.advicehouse{
  width:92%;
  margin-left:4%;
  margin-right:4%;
  background-color:#1D318F;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom:5%;
}
.adviceimage{
  width:100%;
  aspect-ratio:1.5/ 1;
  background-size: contain;
  background-repeat: no-repeat;
}
.advicetext1{
  margin:10%;
  color:white;
  width:80%;
  text-align: center;
}
.advicetext2{
  margin-left: 7%;
  margin-right: 7%;
  font-size: 1.2em;
  color:#85ACFF;
  text-align: center;
}
.advicecard{
  width:100%;
  margin-top:7%;
  display:grid;
  grid-template-columns: 20% 80%;
}
.adviceimg{
  width:80%;
  aspect-ratio:1/1;
  background-size: contain;
  background-repeat: no-repeat;
}
.adv1{
  background-image: url("propics/advice1.png");
}
.adv2{
  background-image: url("propics/advice2.png");
}
.adv3{
  background-image: url("propics/advice3.png");
}
.advicecardtext{
  width:90%;
  margin-left:5%;
  color:white;
  font-size: .9em;
}
.advicebutton{
  margin:10%;
  width:70%;
  padding:5%;
  border-radius: 5px;
  border:4px solid var(--textcolorthree);
}
.advicebuttontext{
  margin:auto;
  color:var(--textcolorthree);
  text-align: center;
  font-size:1.1em;
}

.podhouse{
  border-radius: 30px;
  border:2px solid black;
  background-color: #FFE7E7;
  width:94%;
  margin-top:20%;
  margin-bottom: 20%;
  margin-left:3%;
  text-align: center;
  color:black;
}
.podtitle{
  font-size: 1.5em;
  width:80%;
  margin-left:10%;
  margin-top:5%;
}
.minipodtitle{
  font-size: 1.1em;
  font-weight: bold;
}
.podbody{
  margin:5%;
  line-height: 30px;;
}
.optionhouse{
  width:100%;
  margin-bottom:5%;
}
.opttitle{
  font-weight: bold;
}
.listonitem{
  display: flex;
  margin-left:5%;
  width:90%;
  height:8vh;
  border:1px solid black;
  border-radius: 20px;
  margin-bottom: 5%;
  background-color: white;
}
.listenitemimg{
  height:90%;
  margin:auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  aspect-ratio: 4 / 1;
}
.listens{
  background-image: url("propics/listenons.png");
}
.listeny{
  background-image: url("propics/listenony.png");
}

.lasthouse{
  margin-top:5%;
  background-color: var(--logocolor);
  color:white;
  padding-bottom: 4%;
}
.lasttitle{
  font-size:1.5em;
  text-align: center;
  padding-top:10%;
  margin-bottom: 10%;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
}
.lastminititle{
  margin-left: 5%;
  color: var(--redcolor);
  font-weight: bold;
}
.lastinfo{
  margin:4%;
}
.lastinput{
  margin-bottom:3%;
  margin-left:5%;
  margin-right: 5%;
  height: 7vh;
  width:90%;
  font-size: 1.2em;
  color:black;
}
.lastbutton{
  display: flex;
  background-color: #FFE7E7;
  border-radius: 40px;
  width:90%;
}
.fineprint{
  margin-bottom:5%;
  margin-left:5%;
  margin-right: 5%;
  font-size:.7em;
}

.stickyhouse{
  position: fixed;
  bottom:3%;
  height:7%;
  width:100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .stickyhouse{
    --widtha:calc(100vw - 900px);
    max-width: 900px;
  }
}
.shieldhouse{
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: 5%;
  background-color: #00A2E8;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #5E5E5E, 0 6px 20px 0 #5E5E5E;
}
.shield{
  position: relative;
  height: 80%;
  width:80%;
  left:10%;
  top:10%;
  background-color: white;
}
.qhouse{
  position: relative;
  height:100%;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--textcolormain);
  color:white;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 #5E5E5E, 0 6px 20px 0 #5E5E5E;
}
.qtext{
  font-size: .8em;
  height:80%;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}
.bubble{
  position: relative;
  margin:auto;
  height: 50%;
  aspect-ratio: 1/1;
  background-color: white;
  margin-left: 5%;
}
.shieldclip{
  clip-path:polygon(
11.0% 18.0%,14.0% 18.0%,18.0% 18.0%,20.8% 17.4%,24.0% 17.0%,27.0% 16.0%,31.0% 15.0%,34.0% 14.0%,36.6% 12.8%,39.0% 12.0%,41.4% 10.4%,43.8% 8.6%,45.4% 7.0%,46.6% 5.8%,48.0% 5.0%,50.0% 3.0%,
51.0% 4.0%,52.0% 6.0%,54.0% 7.0%,55.6% 8.4%,58.0% 10.0%,60.4% 11.4%,63.0% 13.0%,66.0% 14.0%,69.0% 15.0%,72.0% 16.0%,74.0% 16.2%,78.0% 17.2%,81.0% 18.0%,85.0% 18.0%,89.0% 18.0%,89.0% 20.0%,
89.0% 26.0%,89.0% 28.0%,89.0% 32.0%,89.0% 36.0%,87.8% 42.0%,86.4% 47.0%,85.8% 51.0%,84.0% 56.0%,82.0% 61.0%,81.0% 64.0%,78.4% 68.0%,76.4% 71.0%,73.2% 75.0%,69.0% 80.8%,66.0% 84.0%,62.4% 87.0%,
60.2% 89.0%,57.0% 92.0%,54.0% 94.0%,50.0% 96.0%,46.6% 94.0%,42.0% 91.0%,38.0% 89.0%,33.8% 85.6%,31.0% 83.0%,28.0% 79.0%,24.8% 74.4%,22.0% 70.0%,19.0% 65.0%,17.0% 61.0%,15.4% 56.0%,14.0% 52.0%,
12.2% 47.0%,11.6% 42.0%,11.0% 37.0%,10.0% 32.0%,10.0% 28.0%,10.0% 24.0%,10.0% 20.0%,33.0% 50.0%,50.0% 59.6%,74.8% 35.0%,73.0% 33.0%,49.8% 56.0%,34.8% 47.8%,33.0% 50.0%,10.0% 20.0%,11.0% 18.0%
    );
    background-color: white;
}
.bubbleclip{
    clip-path:polygon(
19.0% 93.4%,19.4% 76.0%,18.0% 75.0%,13.0% 72.0%,9.0% 67.0%,6.0% 63.0%,4.0% 58.0%,2.0% 53.0%,1.0% 49.0%,1.0% 41.0%,2.0% 36.0%,3.6% 31.0%,5.6% 27.0%,8.0% 22.0%,11.0% 18.0%,14.6% 14.4%,
18.0% 12.0%,21.4% 9.8%,26.0% 7.0%,31.0% 5.4%,37.0% 4.0%,42.0% 3.0%,46.0% 3.0%,54.0% 3.0%,60.0% 4.0%,66.0% 5.0%,71.0% 7.0%,76.2% 9.6%,80.0% 12.0%,83.0% 14.0%,86.0% 17.0%,
89.2% 20.8%,91.4% 24.0%,94.2% 29.0%,96.0% 35.0%,97.0% 38.0%,97.0% 44.0%,97.0% 49.0%,96.0% 53.0%,95.0% 56.0%,94.0% 59.0%,93.0% 62.0%,90.4% 65.0%,88.0% 69.0%,85.0% 72.0%,
82.0% 74.0%,78.0% 77.0%,75.0% 79.0%,71.2% 80.6%,67.0% 82.8%,62.0% 84.0%,57.8% 84.4%,53.0% 85.0%,45.0% 85.0%,42.0% 85.0%,40.0% 85.0%,24.0% 96.0%,19.0% 93.4%,24.0% 89.4%,
40.0% 78.0%,42.0% 78.0%,45.0% 78.0%,51.0% 78.0%,57.0% 77.0%,62.0% 76.0%,65.8% 75.4%,70.0% 74.0%,75.4% 70.4%,78.4% 67.2%,81.0% 65.0%,84.0% 62.0%,87.0% 59.0%,89.0% 55.0%,
89.8% 52.0%,90.0% 49.0%,90.0% 42.0%,90.0% 38.0%,89.0% 33.0%,88.0% 29.0%,84.6% 24.0%,82.0% 21.0%,79.4% 17.8%,76.6% 15.2%,72.0% 12.6%,68.0% 11.0%,64.0% 10.0%,59.0% 9.0%,
55.0% 8.0%,52.0% 7.6%,45.0% 7.0%,38.0% 8.0%,33.0% 10.0%,28.0% 12.0%,22.0% 15.0%,17.0% 19.0%,14.6% 22.0%,12.6% 25.0%,10.6% 28.0%,9.0% 31.0%,7.8% 35.0%,7.4% 38.0%,7.0% 43.0%,
6.0% 48.0%,7.0% 54.0%,9.0% 59.0%,11.0% 63.0%,15.0% 67.0%,18.0% 69.0%,21.0% 70.0%,23.4% 70.8%,24.0% 89.4%
      )
}
