:root {
  --bodycolor: white;
  --logocolor: #041854;
  --textcolormain:#041854;
  --textcolortwo:black;
  --textcolorthree:white;
  --redcolor:#C00021;
  --buttonone:#041854;
  --buttontwo:#C00021;
}
a{
  color:inherit;
  text-decoration: none;
}
body{
  position: absolute;
  margin: 0%;
  box-sizing: border-box;
  padding:0px;
  left:0px;
  top:0px;
  font-size: 100%;
  height: 100%;
  width:100%;
  font-family: funnel;
  background-color: var(--bodycolor);
  color:var(--textcolormain);
  overflow-x: hidden;
}
.backgroundimage{
  position: absolute;
  background-image: url("propics/podcastbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width:100%;
  aspect-ratio:3 /2;
  opacity: .5;
  margin-top:30%;
}
@media screen and (min-width: 900px) {
  body {
    --widtha:calc(100vw - 900px);
    margin-left: calc(var(--widtha) / 2);
    max-width: 900px;
  }
}
@font-face {
   font-family: science;
  src: url(fonts/Science_Gothic/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf);
}
.science{
  font-family: science;
}
@font-face {
   font-family: dosis;
  src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}
.dosis{
  font-family: dosis;
}
@font-face {
   font-family: poire;
  src: url(fonts/poiretone.ttf);
}
.poire{
  font-family: poire;
}
.maintext{
  color:var(--textcolormain)
}
.twotext{
  color:var(--textcolortwo)
}
.threetext{
  color:var(--textcolorthree)
}
.redcolor{
  color:var(--redcolor)
}
.fullfill{
  display: flex;
  height:100%;
  width:100%;
  min-height: 0;
}
.center{
  margin:auto;
  text-align: center;
}
.centerleft{
  margin-top:auto;
  margin-bottom: auto;
}
.navbar{
  position: relative;
  height:7%;
  width:100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 1%;
  box-sizing: border-box;
  color:var(--textcolormain);
}
.left{
  display: flex;
  align-content: flex-start;
  width:100%;
}
.menuborder{
  border-right: 2px solid var(--textcolormain);
}
.navitemsmall{
  display: flex;
  aspect-ratio:1/1;
}
.menuclip{
  background-color:var(--logocolor);
  height:50%;
  width:50%;
  clip-path:polygon(10.0% 31.0%,10.4% 10.2%,91.0% 10.0%,91.0% 31.0%,10.0% 31.0%,10.0% 41.0%,10.0% 59.0%,91.0% 59.0%,91.0% 41.0%,10.0% 41.0%,10.0% 31.0%,10.0% 69.0%,91.0% 69.0%,
    90.6% 89.0%,10.0% 89.0%,10.2% 69.0%,10.0% 31.0%);
}
.slide{
  position: fixed;
  width:0%;
  height:93%;
  top:7%;
  z-index: 10;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  transition: width .5s;
  overflow: hidden;
  background-color: #E8F1FF;
}
.slideitem{
  color:black;
  border-bottom: 2px solid black;
  display:flex;
  height:100%;
  width:86%;
  margin-left: 7%;
}
.buttonitem{
  color:black;
  display:flex;
  height:100%;
  width:86%;
  margin-left: 7%;
}
.slidebutton{
  height:70%;
  width:90%;
  border-radius: 20px;
  background-color: #C1D3F2;
  border:1px solid black;
  display: flex;
  margin:auto;
}
.slideon{
  width:100%;
}
@media screen and (min-width: 900px) {
  .slideon{
    width:900px;
  }
}
.x{
  height: 100%;
  aspect-ratio:1 / 1;
  background-color: #FF6B6B;
}
.xclip{
  position: relative;
  height:90%;
  width:90%;
  top: 5%;
  left:5%;
  background-color: black;
  clip-path:polygon(32.4% 66.2%,48.2% 49.8%,32.6% 33.8%,34.0% 32.2%,50.2% 48.0%,65.6% 32.6%,68.0% 34.0%,52.0% 50.2%,
    68.0% 66.2%,66.4% 67.2%,50.2% 52.2%,34.2% 67.8%);
}

/* --------------------------------have a question slider----------------------------------------- */

.questionhouse{
  position: fixed;
  top:0%;
  box-sizing: border-box;
  z-index: 5;
  height: 100%;
  width:0%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
  transition: width .5s;
}
.questionon{
  width:100%;
}
@media screen and (min-width: 900px) {
  .questionon{
    width:900px;
  }
}
.closehouse{
  position: relative;
  height: 100%;
  width:100%;
  display:flex;
  justify-content: flex-end;
}
.closebutton{
  position: relative;
  background-color: #5E5E5E;
  display: flex;
  height: 50%;
  margin-top:auto;
  margin-bottom: auto;
  margin-right:10%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
}
.closetext{
  font-size: .8em;
  color:white;
  margin:auto;
}
.closeclip{
  height: 70%;
  aspect-ratio:1/1;
  margin:auto;
  background-color: white;
  clip-path:polygon(32.4% 66.2%,48.2% 49.8%,32.6% 33.8%,34.0% 32.2%,50.2% 48.0%,65.6% 32.6%,68.0% 34.0%,52.0% 50.2%,68.0% 66.2%,66.4% 67.2%,50.2% 52.2%,34.2% 67.8%);
}
.qbody{
  height: 100%;
  width:100%;
  background-color: white;
  display: grid;
  grid-template-rows: 10% 15% 10% 10% 20% 10%;
  background:linear-gradient(#CED9FF 20%,white 20%);
  grid-gap: 3%;
}
.qhead{
  width:100%;
  height:60%;
  display: grid;
  grid-template-rows: 50% 50%;
  margin: auto;
}
.emailgrid{
  height: 98%;
  width:94%;
  margin-top:1%;
  margin-left:3%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows:auto auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #5E5E5E, 0 6px 20px 0 #5E5E5E;
}
.item1{
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2{
  grid-column: 2;
  grid-row:1;
}
.item3{
  grid-column: 2;
  grid-row:2;
}
.iconhouse{
  width:60%;
  aspect-ratio:1/1;
  margin:auto;
  display: flex;
  background-color: #CED9FF;
  border-radius: 20px;
}
.iconclip{
  height: 50%;
  width:50%;
  margin: auto;
  background-color: black;
  clip-path:polygon( 3.8% 23.4%,35.8% 49.6%,3.8% 75.4%, 3.8% 23.4%, 7.0% 22.2%,95.2% 22.4%,51.2% 57.8%,7.0% 22.2%, 3.8% 23.4%, 66.4% 50.2%,97.8% 24.2%,97.8% 75.0%,66.4% 50.2%, 3.8% 23.4%,
    10.2% 75.2%,38.4% 51.8%,51.0% 61.4%,63.4% 52.0%,92.6% 75.2%,10.2% 75.2%, 3.8% 23.4%);
}
.bolder{
  font-weight: bold;
  color:black;
  font-size: 1.1em;
}
.faint{
  color:#5E5E5E
}
.lefttext{
  margin-top: auto;
  margin-bottom: auto;
}
.smallinput{
  height: 98%;
  width:94%;
  margin-top:1%;
  margin-left:3%;
}
.labeltext{
  display: block;
}
.inputsingle{
  box-sizing: border-box;
  width:100%;
  height:50%;
}
.inputdouble{
  box-sizing: border-box;
  width:100%;
  height:70%;
}
.subbutt{
  margin:auto;
  height:80%;
  width:80%;
  display: flex;
  border:2px solid black;
}

/* -----------------------------Button styleing------------------------- */
.batterybutton{
  box-sizing: border-box;
  margin:auto;
  height: 100%;
  width:100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
  overflow: hidden;
}
.batterybuttonbackwards{
  box-sizing: border-box;
  margin:auto;
  height: 100%;
  width:100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: hidden;
}
.clipstyle{
  height:65%;
  margin:auto;
  aspect-ratio:1/1;
}
.batterytext{
  font-size: .9em;
  font-family: 'Courier New', monospace;
  overflow: hidden;
}
.batterytopcolor{
  background-color: var(--textcolormain);
}
.battextcolor{
  color:#2E2E2E;
}
/* -----butt end------ */
