{% extends 'roman/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet" href="{% static 'roman/css/about.css' %}">

<div class="banner"></div>
<div class="bannertext twotext science">
  Über uns:
</div>
<div class="visiontext dosis spacetext">
  In unserem Podcast sprechen zwei erfahrene Führungskräfte – Roman und Astrid. Wir beide haben jahrzehntelang große, diverse Teams in einem anspruchsvollen Umfeld geleitet: der Arbeit mit Menschen mit Behinderungen. Ausgehend von unserer praktischen Erfahrung beleuchten wir Führung nicht als Theorie, sondern als gelebte Praxis, die auf Empathie, Verantwortungsbewusstsein und Sinnhaftigkeit basiert. Jede Folge vereint offene Gespräche, praktische Einblicke und wertvolle Erkenntnisse aus der Praxis – von der Arbeit mit Menschen mit Behinderungen bis hin zu Entscheidungen, die einen echten Einfluss auf das Leben der Betroffenen haben. Ob Sie ein Team oder eine Organisation leiten oder einfach Ihre Selbstführung verbessern möchten: Dieser Podcast bietet Ihnen wertvolle Einblicke, wie starke Führung sinnvolle Veränderungen bewirken kann.
</div>

<div class="card">
  <div class="fullfill">
    <div class="cardimg img1"></div>
  </div>
  <div class="fullfill">
    <div class="center cardtitle twotext science">
      Roman Wyss
    </div>
  </div>
</div>
<div class="carddes dosis spacetext">
  Roman ist eine erfahrene Führungskraft mit umfassender Erfahrung in der Begleitung von Teams durch Wachstums-, Veränderungs- und komplexe Prozesse.
  Da seine Karriere auf der Führung von Menschen und nicht nur auf dem Prozessmanagement basiert,
  vermittelt er eine praxisnahe und fundierte Führungsperspektive, die über Schlagworte und Theorien hinausgeht.
  Durch seine Tätigkeit in verantwortungsvollen Positionen
  versteht er die realen Herausforderungen, denen sich Führungskräfte stellen müssen – vom Aufbau von Vertrauen und Verantwortlichkeit bis hin zum Treffen schwieriger Entscheidungen mit Klarheit und Empathie.
  Mithilfe von durchdachten Fragen, Beispielen aus der Praxis und reflektierenden Einsichten schafft er Gespräche, die Zuhörer dabei unterstützen, selbstbewusst, zielgerichtet und integer zu führen.
</div>

<div class="card">
  <div class="fullfill">
    <div class="center cardtitle twotext science">
      Astrid Pfister
    </div>
  </div>
  <div class="fullfill">
    <div class="cardimg img2"></div>
  </div>
</div>
<div class="carddes dosis spacetext">
  Als Führungskraft, die sich in traditionell männerdominierten Positionen behauptet hat,
  bereichert sie den Podcast mit ihrer unverwechselbaren Stimme und ihrer gelebten Erfahrung.
  Ihr Führungsstil ist geprägt vom Umgang mit hohen Erwartungen, komplexen Machtdynamiken
  und der Verantwortung, sich in anspruchsvollen Umgebungen Vertrauen zu erarbeiten.
  Anstatt sich auf theoretische Modelle zu verlassen, spricht sie aus Erfahrung – über Einflussnahme, Resilienz und die Kunst, mit stiller Stärke zu führen, wenn man im Rampenlicht steht.
  Im Podcast bietet sie offene Reflexionen, scharfsinnige Einsichten und eine souveräne, geerdete Präsenz, die die Zuhörer dazu einlädt, Führung aus einer inklusiveren,
  menschlicheren und realitätsnahen Perspektive neu zu denken.
</div>

<div class="spaceholder">

</div>

{% endblock %}
