{% extends 'roman/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet" href="{% static 'roman/css/about.css' %}">

<img class="banner" src="/static{{ pics.aboutbanner }}" alt="">
<div class="bannertext twotext science">
  {{bodytext.1.text}}
</div>
<div class="visiontext dosis spacetext">
  {{bodytext.2.text}}
</div>

<div class="card">
  <div class="fullfill">
    <img class="cardimg img1" src="/static{{ pics.aboutroman }}" alt="">
  </div>
  <div class="fullfill">
    <div class="center cardtitle twotext science">
      Roman Wyss
    </div>
  </div>
</div>
<div class="carddes dosis spacetext">
  {{bodytext.3.text}}
</div>

<div class="card">
  <div class="fullfill">
    <div class="center cardtitle twotext science">
      Astrid Pfister
    </div>
  </div>
  <div class="fullfill">
    <img class="cardimg img2" src="/static{{ pics.aboutastrid }}" alt="">
  </div>
</div>
<div class="carddes dosis spacetext">
  {{bodytext.4.text}}
</div>

<div class="spaceholder">

</div>

{% endblock %}
