{% extends 'roman/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet" href="{% static 'roman/css/contact.css' %}">

<div class="banner">
  <div class="center">
    <p class="contacttitle twotext science">Fragen?</p>
    <p class="dosis">Zögern Sie nicht, uns jederzeit zu kontaktieren, wenn Sie etwas beschäftigt.</p>
  </div>
</div>

<div class="card">
  <div class="cardtop">
    <div class="fullfill">
      <div class="center pic gpsclip"></div>
    </div>
    <div class="fullfill">
      <div class="center contacttitle">
        Adresse
      </div>
    </div>
  </div>
  <div class="cardtext">
    <div class="center">
      Seestrasse 42 - 48 <br>
      3600 Thun
    </div>
  </div>
</div>

<div class="card">
  <div class="cardtop">
    <div class="fullfill">
      <div class="center pic timeclip"></div>
    </div>
    <div class="fullfill">
      <div class="center contacttitle">
        Öffnungszeiten
      </div>
    </div>
  </div>
  <div class="cardtext">
    <div class="center">
      8uhr - 17uhr
    </div>
  </div>
</div>

<div class="card">
  <div class="cardtop">
    <div class="fullfill">
      <div class="center pic phoneclip"></div>
    </div>
    <div class="fullfill">
      <div class="center contacttitle">
        Telefon
      </div>
    </div>
  </div>
  <div class="cardtext">
    <div class="center">
      +41 76 218 17 04
    </div>
  </div>
</div>

<div class="card">
  <div class="cardtop">
    <div class="fullfill">
      <div class="center pic emailclip"></div>
    </div>
    <div class="fullfill">
      <div class="center contacttitle">
        Email
      </div>
    </div>
  </div>
  <div class="cardtext">
    <div class="center">
      Kuchtagary1@gmail.com
    </div>
  </div>
</div>


{% endblock %}
