{% extends 'roman/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet"  href="{% static 'roman/css/home.css' %}">


<div class="titletext">
  <div class="batterybutton whiteback">
    <div class="spothouse whiteback">
      <div id="sound">
        <div class="insound whiteback"></div>
      </div>
      <div class="spoticon spotifyclip spotifycolor"></div>
    </div>
    <div class="fullfill batterybodyclip batterytopcolor">
      <div id="batterytextoption" class="center batterytext batterytopcolor threetext">
        Listen To Us on Spotify!
      </div>
    </div>
  </div>
</div>
<div class="titletext">
  <div class="batterybuttonbackwards whiteback">
    <div class="fullfill batterybodyclip batterytopcolor">
      <div id="batterytextoption" class="center batterytext batterytopcolor threetext">
        Book a training session
      </div>
    </div>
    <div class="fullfill whiteback">
      <div class="clipstyle bookclip"></div>
    </div>
  </div>
</div>

<div id="quotes" class="quotemargin">
  <div id="quote" class="poire center quote"></div>
  <div id="person" class="science center person twotext"></div>
</div>
<div id="loading" class="quotemargin">
  <div id="loadingbar"></div>
</div>

<div class="titletext wirsind center science">
  Wer Wir Sind:
</div>

<div class="card one">
  <div class="fullfill texthouse">
    <div class="fullfill">
      <div class="center nameo science">Astrid Pfister</div>
    </div>
    <div class="fullfill attributes dosis">
      <div class="fullfill">
        <div class="center">-Smart</div>
      </div>
      <div class="fullfill">
        <div class="center">-funny</div>
      </div>
      <div class="fullfill">
        <div class="center">-Capable</div>
      </div>
    </div>
  </div>
  <div class="fullfill">
    <div class="pic astrid"></div>
  </div>
</div>

<div class="card two">
  <div class="fullfill">
    <div class="pic roman"></div>
  </div>
  <div class="fullfill texthouse">
    <div class="fullfill">
      <div class="center nameo science">Roman Wyss</div>
    </div>
    <div class="fullfill attributes dosis">
      <div class="fullfill">
        <div class="center">-Strong</div>
      </div>
      <div class="fullfill">
        <div class="center">-Confident</div>
      </div>
      <div class="fullfill">
        <div class="center">-Thun Magic Master 2024</div>
      </div>
    </div>
  </div>
</div>


<div class="point">
  <div class="fullhead">
    <div class="headtext maintext">Start Your Evolution</div>
  </div>
  <div class="pointbody twotext">
    Leaders arent born, they are made. Made through struggles, adversity and grit. We owe all that we have to the people before us that woke up every day and CHOSE to put on the cape.
    We believe anyone can do it, and we believe you can do it too.
  </div>
</div>


<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi1"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Vision Setting</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Effective leadership provides a clear sense of direction and purpose. Leaders help teams understand long-term goals and why they matter, enabling coordinated and motivated effort.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi2"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Decision Clarity</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Strong leaders make informed, timely decisions that reduce uncertainty. Their choices help teams stay focused and confident even in complex or rapidly changing situations.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi3"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Motivation Boost</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Leadership inspires people to give their best. By recognizing effort, fostering trust, and creating a positive environment, leaders elevate both morale and performance.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi4"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Team Cohesion</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Good leaders unite diverse individuals around shared objectives. They build collaboration, resolve conflicts, and create a culture where people feel valued and connected.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi5"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Adaptability Guidance</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Leaders help teams navigate change with stability and confidence. They anticipate challenges, adjust strategies, and encourage others to embrace new opportunities.
  </div>
</div>

<script type="text/javascript" src="{% static 'roman/js/home.js' %}"></script>

{% endblock %}
