{% extends 'roman/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet"  href="{% static 'roman/css/home.css' %}">


<!-- <div class="titletext">
  <div class="batterybutton whiteback">
    <div class="spothouse whiteback">
      <div id="sound">
        <div class="insound whiteback"></div>
      </div>
      <div class="spoticon spotifyclip spotifycolor"></div>
    </div>
    <div class="fullfill batterybodyclip batterytopcolor">
      <div id="batterytextoption" class="center batterytext batterytopcolor threetext">
        Listen To Us on Spotify!
      </div>
    </div>
  </div>
</div>
<div class="titletext">
  <div class="batterybuttonbackwards whiteback">
    <div class="fullfill batterybodyclip batterytopcolor">
      <div id="batterytextoption" class="center batterytext batterytopcolor threetext">
        Book a training session
      </div>
    </div>
    <div class="fullfill whiteback">
      <div class="clipstyle bookclip"></div>
    </div>
  </div>
</div> -->

<div id="stickyhouse" class="stickyhouse">

  <div class="shieldhouse">
    <div class="shield shieldclip"></div>
  </div>

  <div class="qhouse togquestion">
    <div class="fullfill qtext">
      <div class="center">Fragen? Holen Sie sich Hilfe</div>
    </div>
    <div class="bubble bubbleclip"></div>
  </div>

</div>

<div id="quotes" class="quotemargin">
  <div id="quote" class="poire center quote"></div>
  <div id="person" class="science center person twotext"></div>
</div>
<div id="loading" class="quotemargin">
  <div id="loadingbar"></div>
</div>

<div class="titletext wirsind center science">
  Wer Wir Sind:
</div>

<div class="card one">
  <div class="fullfill texthouse">
    <div class="fullfill">
      <div class="center nameo science">Astrid Pfister</div>
    </div>
    <div class="fullfill attributes dosis">
      <div class="fullfill">
        <div class="center">-Co-Bereichsleitung Wohnen</div>
      </div>
      <div class="fullfill">
        <div class="center">-Master-Abschluss</div>
      </div>
      <div class="fullfill">
        <div class="center">-Mutter</div>
      </div>
    </div>
  </div>
  <div class="fullfill">
    <div class="pic astrid"></div>
  </div>
</div>

<div class="card two">
  <div class="fullfill">
    <div class="pic roman"></div>
  </div>
  <div class="fullfill texthouse">
    <div class="fullfill">
      <div class="center nameo science">Roman Wyss</div>
    </div>
    <div class="fullfill attributes dosis">
      <div class="fullfill">
        <div class="center">-stv. Direktor</div>
      </div>
      <div class="fullfill">
        <div class="center">-Vater</div>
      </div>
      <div class="fullfill">
        <div class="center">-President of Magic Club Thun</div>
      </div>
    </div>
  </div>
</div>


<div class="point">
  <div class="fullhead">
    <div class="headtext maintext">Beginnen Sie Ihre Entwicklung</div>
  </div>
  <div class="pointbody twotext">
    Führung prägt alles – Ihre Arbeit, Ihre Beziehungen und die Ergebnisse, die Sie erzielen. In unserem Podcast und unseren Angeboten vermitteln wir Ihnen anhand praktischer Erfahrungen klare und hilfreiche Anleitungen, die Sie dabei unterstützen, effektiver und authentischer zu führen. Wenn Sie bereit sind, sich weiterzuentwickeln, neue Herausforderungen anzunehmen und einen echten Unterschied zu machen, dann sind Sie hier genau richtig, um Ihre Führungskompetenzen zu vertiefen.
  </div>
</div>


<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi1"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Vision-Einstellung</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Wirksame Führung vermittelt ein klares Zielbewusstsein und einen Sinn für Zweckmäßigkeit. Führungskräfte helfen Teams, die langfristigen Ziele und deren Bedeutung zu verstehen, und ermöglichen so koordiniertes und motiviertes Handeln.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi2"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Entscheidungsklarheit</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Starke Führungskräfte treffen fundierte und zeitnahe Entscheidungen, die Unsicherheit reduzieren. Ihre Entscheidungen helfen Teams, auch in komplexen oder sich schnell verändernden Situationen fokussiert und zuversichtlich zu bleiben.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi3"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Motivationsschub</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Führung inspiriert Menschen dazu, ihr Bestes zu geben. Indem Führungskräfte Anstrengungen anerkennen, Vertrauen fördern und ein positives Umfeld schaffen, steigern sie sowohl die Arbeitsmoral als auch die Leistung.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi4"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Teamzusammenhalt</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Gute Führungskräfte vereinen unterschiedliche Persönlichkeiten um gemeinsame Ziele. Sie fördern die Zusammenarbeit, lösen Konflikte und schaffen eine Kultur, in der sich die Menschen wertgeschätzt und verbunden fühlen.
  </div>
</div>

<div class="point">
  <div class="pointhead">
    <div class="fullfill">
      <div class="center pointimg pi5"></div>
    </div>
    <div class="fullfill">
      <div class="center headtext maintext">Leitfaden zur Anpassungsfähigkeit</div>
    </div>
  </div>
  <div class="pointbody twotext">
    Führungskräfte helfen Teams, Veränderungen stabil und souverän zu bewältigen. Sie antizipieren Herausforderungen, passen Strategien an und ermutigen andere, neue Chancen zu ergreifen.
  </div>
</div>

<div id="consultation" class="button">
  <p class="buttontext science">Kostenlose Beratung</p>
</div>

<div class="advicehouse science">
  <div class="adviceimage"></div>
  <div class="advicetext1">Bewährte Methoden und Erfahrung machen Roman & Astrid zu Ihrer ersten Wahl</div>
  <div class="advicetext2">Führungsteams durch den Wandel begleiten</div>
  <div class="advicecard">
    <div class="fullfill"><div class="center adviceimg adv1"></div></div>
    <div class="advicecardtext">
      Gute Führungskräfte vereinen unterschiedliche Persönlichkeiten um gemeinsame Ziele. Sie fördern die Zusammenarbeit, lösen Konflikte und schaffen eine Kultur, in der sich die Menschen wertgeschätzt und verbunden fühlen.
    </div>
  </div>
  <div class="advicecard">
    <div class="fullfill"><div class="center adviceimg adv2"></div></div>
    <div class="advicecardtext">
      Sie schaffen Klarheit und Orientierung: Gute Führungskräfte kommunizieren Ziele, Rollen und Erwartungen klar und verständlich. So wissen alle, wofür sie arbeiten, wie ihr Beitrag zählt und wohin sich das Team gemeinsam entwickelt.
    </div>
  </div>
  <div class="advicecard">
    <div class="fullfill"><div class="center adviceimg adv3"></div></div>
    <div class="advicecardtext">
      Sie entwickeln Menschen gezielt weiter: Statt nur Ergebnisse einzufordern, erkennen sie Potenziale, fördern Stärken und begleiten Lernprozesse. Dadurch wachsen nicht nur die einzelnen Mitarbeitenden, sondern auch das gesamte Team nachhaltig.
    </div>
  </div>
  <div class="advicebutton">
    <div class="advicebuttontext science">
      Erfahren Sie mehr
    </div>
  </div>
</div>


<div class="podhouse dosis">
  <div class="podtitle">
    The Roman Astrid Podcast
  </div>
  <div class="podbody">
    <p class="minipodtitle">Führung hat nichts mit Titeln zu tun – es geht um Wirkung.</p>
    <p>
      Dieser Podcast erkundet, was Führung in der heutigen Welt wirklich bedeutet: im Beruf, im Privatleben und in der eigenen Persönlichkeitsentwicklung. Anhand praktischer Erkenntnisse, authentischer Gespräche und zeitloser Prinzipien vermitteln wir Ihnen, was Führung bedeutet und welche Fähigkeiten Sie konkret anwenden können. Ob Sie ein Team leiten oder einfach Ihr Leben mit Klarheit und Selbstvertrauen gestalten möchten – dieser Podcast ist genau das Richtige für Sie.
    </p>
  </div>

  <div class="optionshouse">
    <div class="opttitle science">
      Listen On:
    </div>

    <div class="listonitem">
      <div class="listenitemimg listens"></div>
    </div>

    <div class="listonitem">
      <div class="listenitemimg listeny"></div>
    </div>

  </div>

</div>

<div class="lasthouse science">
  <div class="lasttitle poire">Führung echt jetzt</div>
  <div class="lastminititle science">Treten Sie der Bewegung bei</div>
  <div class="lastinfo science">Melden Sie sich an und erhalten Sie exklusive Inhalte, E-Mails und Dinge, die wir nirgendwo sonst teilen.</div>
  <input id="newslettername" class="lastinput" placeholder="Vorname" type="text" name="" value="">
  <input id="newsletteremail" class="lastinput" placeholder="Geben Sie Ihre E-Mail-Adresse ein" type="email" name="" value="">
  <div id="newsletter" class="lastinput lastbutton">
    <div class="center">
      Lets Do it
    </div>
  </div>
  <div class="fineprint science">
    Mit der Eingabe deiner Daten wirst du zum Super-Insider – mit KOSTENLOSEM Zugang zu exklusiven Einblicken, privaten Fragerunden und vielem mehr, was ich hier aus rechtlichen Gründen nicht veröffentlichen kann, da ich sonst diese Website wahrscheinlich dauerhaft abschalten müsste. Deine Seele ist vermutlich sowieso nicht viel wert, also gib sie einfach her und gut ist. Ciao
  </div>
</div>

<script type="text/javascript" src="{% static 'roman/js/home.js' %}"></script>

{% endblock %}
