{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#C4A4E4">
  <link rel="shortcut icon" type="image/png" href="{% static 'roman/favicon/microphone.png' %}"/>
  <link rel="stylesheet"  href="{% static 'roman/css/nav.css' %}">
  <script src="{% static 'roman\jquery-3.6.0.min.js' %}"></script>

  <body>

    <div class="navbar" id=navbar>
      <div class="left">
        <div class="menuborder navitemsmall slideit">
          <div class="center menuclip"></div>
        </div>


        {% if request.get_full_path == '/' %}
          <div class="navitem fullfill">
            <div class="center science">
              Lead a Generation
            </div>
          </div>
        {% else %}
          <a class="navitem fullfill" href="{% url 'home' %}">
            <div class="center science">
              Lead a Generation
            </div>
          </a>
        {% endif %}


      </div>
    </div>

    <div class="backgroundimage"></div>

    <div id="slide" class="slide">
      <div class="fullfill slideitem">
        <div class="centerleft">Booking Calander</div>
      </div>
      <div class="fullfill slideitem">
        <div class="centerleft">Contact</div>
      </div>
      <div class="fullfill slideitem">
        <div class="centerleft">About Roman</div>
      </div>
      <div class="fullfill slideitem">
        <div class="centerleft">About Astrid</div>
      </div>
      <div class="fullfill slideitem">
        <div class="centerleft">Goal</div>
      </div>
    </div>


{% block pregroup %}{% endblock %}

  </body>

<script type="text/javascript" src="{% static 'roman/js/nav.js' %}"></script>

</html>
