<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:white">

    <img style="width:100%;height:auto;background-size: contain;"  src="{{linktoimage}}" alt="">

    <div style="margin:10%;padding:2%;background-color:white;color:#041854;">
      {{message}}
    </div>

    <div style="margin-top:5%;height:5vh;width:100%;background-color:#041854;display:flex;padding-top:5%;padding-bottom:5%;">
      <div style="margin:auto;background-color:#041854;color:white;">
        {{footer}}
      </div>
    </div>



  </body>
</html>
